.card {
  align-items: center;
  width: 130px;
  height: 130px;
  margin: 5px;
  background-color: #ececeaa2; /** 最後兩碼代表顏色透明度 **/
  padding: 3px;
  border: 1px solid rgba(255, 255, 255, 38%);
}

.card-img {
  width: 120px;
  height: 80px;
}

.card-info {
  font-weight: 550;
  margin-top: 10px;
  color: #965454;
}
