.generator {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  white-space: nowrap;
  margin: -5px;
  margin-bottom: 25px;
}

.generator > * {
  margin: 5px;
}

@media screen and (max-width: 576px) {
  .generator > * {
    margin: 2.5px;
  }
}

.auto-label {
  color: #965454;
  text-shadow: 3px 3px 5px#fffef4;
  font-weight: 900;
}

.auto-numbers {
  padding: 3px 0px;
}

.auto-numbers .form-control {
  color: #965454;
}

.auto-form {
  display: flex;
  align-items: center;
}

.auto-form button {
  margin-left: 10px;
}

@media screen and (max-width: 576px) {
  .auto-form button {
    margin-left: 5px;
  }
}

.btn-auto {
  color: #96a48b;
  background-color: #e0e5df33;
  font-weight: 550;
  padding: 3px 8px;
  border: 1px solid #96a48b;
}

.btn-auto:hover {
  color: #ffffff;
  background-color: #96a48b;
}

.btn-advance {
  color: #c89932;
  background-color: #e0e5df33;
  font-weight: 550;
  padding: 3px 10px;
  border: 1px solid #c89932;
}

.btn-advance:hover {
  color: #ffffff;
  background-color: #c8993290;
}

.advance-form {
  opacity: 0;
  pointer-events: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.3);
  padding: 30px;
  background-color: #d6cbdf;
  border-radius: 5px;
  overflow-y: hidden;
  white-space: nowrap;
  transition: 0.4s;
  z-index: 1000;
}

.toggle {
  opacity: 1;
  pointer-events: auto;
  transform: translate(-50%, -50%) scale(1);
}

.advance-form .close-btn::after {
  content: 'x';
  color: #3f3424;
  font-size: 23px;
  font-weight: 550;
  position: absolute;
  top: 0px;
  right: 10px;
  padding: 0px 7px;
  cursor: pointer;
}

.advance-form > div {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.advance-label {
  color: #3f3424;
  text-shadow: none;
  font-weight: 550;
}

.advance-form > div label {
  margin-right: 5px;
}

.advance-form .form-control,
.advance-form .form-select {
  color: #3f3424dc;
}

.advance-form .speed-wrapper span:nth-of-type(1) {
  margin-right: 5px;
}

.advance-form .speed-wrapper span:nth-of-type(2) {
  margin: 0 5px;
}

.btn-submit {
  color: #3f3424;
  font-weight: 550;
  border: 1px solid #3f3424;
}

.btn-submit:hover {
  color: #fff;
  background-color: #3f34244b;
}
