body {
  background-color: #121212;
}

.container {
  padding: 15px 0px;
}

.form-control,
.form-select {
  width: auto;
}

h2 {
  color: #FFFFFF;
  opacity: 87%;
  padding-bottom: 5px;
  border-bottom: 2px solid rgba(255, 255, 255, 38%);
}
