html,
body {
  overflow: hidden;
}

.container {
  padding: 0;
  margin: 0;
}

.music-player {
  position: fixed;
  background-color: #ead0d196;
  padding: 40px;
  width: 100vw;
  height: 100vh;
}

span,
i {
  color: #656565;
  opacity: 1;
}

.song-img {
  width: 240px;
  height: 180px;
  border: 5px solid #f0ebe599;
  border-radius: 5px;
  margin-bottom: 40px;
}

.song-name {
  display: block;
  font-size: 28px;
  font-weight: 550;
}

.singer {
  display: block;
  font-size: 18px;
  font-weight: 550;
  opacity: 0.65;
}

hr {
  height: 5px;
  margin-top: 50px;
}

.time-range {
  display: flex;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
  font-size: 20px;
  font-weight: 550;
}

input[type="range"] {
  appearance: none;
  width: auto;
  height: 5px;
  border-radius: 5px;
  background-color: #fff;
  margin: 0 10px;
}

input[type="range"]::-webkit-slider-thumb {
  appearance: none;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #656565;
}

i {
  font-size: 26px;
  margin: 22px;
}

.time-range {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 25vh;
}

.song-controls {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap;
  bottom: 10vh;
}

@media screen and (min-width: 576px) {
  .music-player {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: auto;
    height: 70%;
    padding: 70px;
    border-radius: 5px;
  }

  hr {
    margin-top: 60px;
  }

  .time-range {
    bottom: 13vh;
  }
}