html,
body {
  overflow: hidden;
}

.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.music-player {
  background-color: #ead0d196;
  border-radius: 5px;
  padding: 15px;
  margin-top: 50vh;
}

@media screen and (max-width: 576px) {
  .music-player {
    margin-top: 63vh;
  }
}

span,
hr,
i {
  color: #656565;
  opacity: 1;
}

span {
  font-size: 20px;
  font-weight: 700;
}

hr {
  height: 5px;
}

.song-img {
  position: fixed;
  top: 30vh;
  left: 50%;
  transform: translateX(-50%);
  width: 240px;
  height: 180px;
  border: 5px solid #f0ebe599;
  border-radius: 5px;
}

@media screen and (max-width: 576px) {
  .song-img {
    top: 35vh;
  }
}

.time-range {
  display: flex;
  align-items: center;
  margin-top: 15px;
}

input[type="range"] {
  appearance: none;
  width: auto;
  height: 5px;
  border-radius: 5px;
  background-color: #fff;
  margin: 0 10px;
}

input[type="range"]::-webkit-slider-thumb {
  appearance: none;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #656565;
}

i {
  margin: 15px;
}
