.tones-wrapper {
  display: flex;
  flex-wrap: wrap;
  margin: -5px;
  padding: 0 10px;
}

@media screen and (max-width: 576px) {
  h2 {
    margin-left: 5px;
  }

  .tones-wrapper {
    flex-wrap: nowrap;
    overflow-x: auto;
  }
}

.tone-img {
  width: 50%;
  height: 50%;
  margin-top: 12px;
  margin-bottom: 5px;
}
