.tones-wrapper {
  display: flex;
  flex-wrap: wrap;
  padding: 0 5px;
}

@media screen and (max-width: 576px) {
  h2 {
    margin-left: 5px;
  }

  .tones-wrapper {
    flex-wrap: nowrap;
    overflow-x: auto;
  }
}
