h2 {
  color: #2c4f54;
  font-weight: 700;
  text-shadow: 4px 4px 3px #c89932;
  padding-bottom: 10px;
  border-bottom: 2.5px solid #2c4f54;
  border-radius: 1.5px;
}

.types-wrapper {
  display: flex;
  flex-wrap: wrap;
  margin: -5px;
  padding: 0 10px;
  margin-top: 0px;
  margin-bottom: 15px;
}

@media screen and (max-width: 576px) {
  h2 {
    margin-left: 5px;
  }

  .types-wrapper {
    flex-wrap: nowrap;
    overflow-x: auto;
  }

  .card {
    min-width: 130px;
    min-height: 130px;
  }
}

.card {
  align-items: center;
  width: 130px;
  height: 130px;
  margin: 5px;
  background-color: #e4d28ba2; /** 最後兩碼代表顏色透明度 **/
  padding: 3px;
  border: 1px solid rgba(255, 255, 255, 38%);
}

.card-img {
  width: 120px;
  height: 80px;
}

.card-info {
  font-weight: 550;
  margin-top: 10px;
  color: #2c4f54;
}

.tone-img {
  width: 50%;
  height: 50%;
  margin-top: 12px;
  margin-bottom: 5px;
}
