h2 {
  color: #965454;
  text-shadow: 4px 4px 3px #fffef4;
  font-weight: 700;
  padding-bottom: 10px;
  border-bottom: 2.5px solid #965454;
  border-radius: 1.5px;
}

.types-wrapper {
  display: flex;
  flex-wrap: wrap;
  margin: -5px;
  padding: 0 10px;
  margin-bottom: 35px;
}

@media screen and (max-width: 576px) {
  h2 {
    margin-left: 5px;
  }

  .types-wrapper {
    flex-wrap: nowrap;
    overflow-x: auto;
  }

  .card {
    min-width: 130px;
    min-height: 130px;
  }
}
