h2 {
  color: #2c4f54;
  text-shadow: 4px 4px 3px #c89932;
  font-weight: 700;
}

label {
  color: #2c4f54;
  text-shadow: 4px 4px 3px #d8caaf;
  font-weight: 600;
}

h2 {
  margin-bottom: 15px;
}

form > div {
  display: flex;
  align-items: center;
  width: max-content;
  margin: 15px 0;
}

textarea,
input[type="text"] {
  max-width: 95%;
}

.btn-submit {
  color: #7b8b6f;
  font-weight: 550;
  border: 1px solid #7b8b6f;
  margin-top: 15px;
}

.btn-submit:hover {
  color: #fff;
  background-color: #7b8b6f;
}

