h2,
label {
  color: #FFFFFF;
  opacity: 87%;
}

h2 {
  margin-bottom: 15px;
}

form > div {
  display: flex;
  align-items: center;
  width: max-content;
  margin: 15px 0;
}

textarea,
input[type="text"] {
  max-width: 95%;
}

button {
  margin-top: 15px;
}
